
@import "./variables";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background-color: #e4e6ec;
}

#the-will-home {
  font-size: 60px;
}

#main-content {
  min-height: 85vh;
}

.cover {
  width: 100%;
  object-fit: cover;
  border-radius: $border-radius-lg;
}

// ==========================
// Posts
// ==========================

a.post-link {
  text-decoration: none;
  color: $body-color;
  
  &:hover {
    color: $body-color;
  }
}

.card-post {
  .cover {
    height: 240px;
  }

  .cover-highlight {
    height: 400px;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.post-share {
  a {
    color: $text-muted;
    padding: 5px 10px;
    font-size: 1.3rem;
  }
}

@media (max-width: 768px){
  .post_block_link {
    .cover-highlight {
      height: 200px !important;
    }
  }

  #navbarSearchBtn {
    display: none;
  }
}

